body {
    padding-top: 50px;
    padding-bottom: 20px;
}

footer {
    width: 1366px;
    position: absolute;
    bottom: 0px;
    height: 100px;
    border-top: 10px solid #ff0000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

headerLinks {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    color:red;
}