
@{
    ViewBag.Title = "HomeView";
}

<!DOCTYPE html>
<html>
<head>
    <img src=https://www.reclamosargentina.com/wp-content/uploads/2019/06/swiss-medical-argentina-reclamos-telefono.jpg style="width:150px;height:75px;"></img>
    <meta charset="utf-8" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SwissMedicos</title>
</head>
<body>
    <div class="headerLinks">
        @Html.ActionLink("Home", "Index", "Home")
        @Html.ActionLink("Afiliados", "Afiliados", "Afiliados")
    </div>

    <h2> Homepage Afiliados de SwissMedicos</h2>

    <div class="container body-content">
        <footer>
            <p> Lastra Julian Marcos - Parcial N1 LPPA </p>
        </footer>
    </div>
</body>
</html>
